.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.git/**
.gitignore
.npmrc
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
test.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
*.vsix
**/.DS_Store
pnpm-lock.yaml
